.posts {
	width: 1000px;
	margin: auto;
}
.posts .box {
	width: 900px;
	padding: 10px 20px 10px 20px;
	background: #D4D4D4;
	position: relative;
	height: 80px;
}
.posts .box:nth-child(even) {
	background: #EBEBEB;
	border-top: 1px solid #252525;
}
.posts .box .right {
	float: right;
	position: absolute;
	right: 10px;
	top: 10;
}
.btn-edit {
	background: #22A86D;
	font-style: normal;
	text-decoration: none;
	color: #fff;
	font-weight: 300;
	padding: 8px 25px 8px 25px;
	display: block;
	margin-bottom: 18px;
	text-align: center;
}
.btn-del {
	background: #DD5561;
	font-style: normal;
	text-decoration: none;
	color: #fff;
	font-weight: 300;
	padding: 8px 25px 8px 25px;
	text-align: center;
}
.posts p {
	width: 600px !important;
}
#ram-hide {
	display: none;
}