@import url(http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,700,800,600,300);
* {
	margin: 0;
	padding: 0;
}
body {
	background: url('http://i.imgur.com/WBFCHFf.jpg') no-repeat center center fixed;
	background-size: cover;
	font-family: 'Lato', sans-serif;
}
.version {
	position: absolute;
	top: 10px;
	left: 10px;
	color: #fff;
	opacity: 0.6;
}
.form {
	width: 250px;
	height: 300px;
	margin: auto;
	background: transparent;
	position: absolute;
	left: 0;
	right: 0;
	top: 45%;
	bottom: 50%;
	text-align: center;
	padding: 15px;
	padding-right: 20px;
}
.form img {
	margin-bottom: 20px;
}
form {
	position: relative;
}
form input {
	outline: none;
	border: none;
}
form input:focus {
	outline: none;
	border: none;
}
form input[type="text"] {
	border-bottom: 1px solid rgba(0, 0, 0, 0.25);
}
form input[type="text"],
form input[type="password"] {
	background: #EEF2F3;
	padding: 4px;
	padding-left: 8px;
	width: 200px;
	height: 30px;
	font-family: 'Lato', sans-serif;
}
form input[type="submit"] {
	display: block;
	position: absolute;
	bottom: -80px;
	left: 0;
	right: 0;
	margin: auto;
	width: 200px;
	padding: 8px 20px 8px 20px;
	background: #529FD3;
	color: #fff;
	font-family: 'Lato', sans-serif;
	width: 210px;
	cursor: pointer;
}