@import url(http://fonts.googleapis.com/css?family=Lato:100,300,400,700,900,100italic,300italic,400italic,700italic,900italic);
* {
	margin: 0;
	padding: 0;
}
body {
	background: #EAEAEA;
	font-family: 'Lato', sans-serif;
}
.nav {
	position: fixed;
	top: 0;
	bottom: 0;
	width: 200px;
	background: #1C2B36;
	z-index: 100;
}
.nav h2 {
	text-align: center;
	color: #fff;
	line-height: 70px;
	height: 80px;
	background: #17232C;
	border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}
.nav p {
	position: absolute;
	top: 55px;
	left: 0;
	right: 0;
	color: #fff;
	font-size: 12px;
	text-align: center;
}
.nav .wrap {
	position: absolute;
	top: 80px;
}
.nav a {
	display: block;
	color: #CCCED0;
	text-decoration: none;
	font-size: 14px;
	height: 45px;
	line-height: 45px;
	padding-left: 15px;
	width: 185px;
	border-bottom: 1px solid rgba(255, 255, 255, 0.08);

	-webkit-transition: all 200ms;
	-moz-transition: all 200ms;
	-ms-transition: all 200ms;
	-o-transition: all 200ms;
	transition: all 200ms;
}
.nav a:hover {
	color: #fff;
}
.nav .active {
	background: #17232C;
	color: #fff;
	font-weight: 600;
	-webkit-box-shadow: inset 0px 0px 5px 0px rgba(23,35,44,1);
	-moz-box-shadow: inset 0px 0px 5px 0px rgba(23,35,44,1);
	box-shadow: inset 0px 0px 5px 0px rgba(23,35,44,1);
}
.nav a i {
	font-size: 16px;
	padding-right: 15px;
}
.nav-top {
	position: fixed;
	top: 0;
	width: 100%;
	background: #fff;
	height: 45px;
	z-index: 99;
	line-height: 45px;

	-webkit-box-shadow: 0px 3px 1px -1px rgba(23,35,44,0.41);
	-moz-box-shadow: 0px 3px 1px -1px rgba(23,35,44,0.41);
	box-shadow: 0px 3px 1px -1px rgba(23,35,44,0.41);
}
.nav-top .right {
	position: absolute;
	right: 15px;
}
.nav-top .btn {
	background: #1C2B36;
	padding: 4px 12px 8px 12px;
	text-decoration: none;
	color: #fff;
	margin-left: 25px;
}
.container {
	background: #fff;
	width: 1000px;
	min-height: 500px;
	max-height: auto;
	position: absolute;
	top: 200px;
	right: 120px;
	margin: auto;
	padding: 15px;
	display: block;

	-webkit-box-shadow: 0px 0px 1px 2px rgba(23,35,44,0.13);
	-moz-box-shadow: 0px 0px 1px 2px rgba(23,35,44,0.13);
	box-shadow: 0px 0px 1px 2px rgba(23,35,44,0.13);
}
.container .header {
	background: #F6F6F6;
	color: #2C2C2C;
	position: absolute;
	top: 0;
	left: 0;
	width: 1014px;
	padding: 8px;
}
.container .header h2 {
	font-weight: 300;
}
.container .divider {
	padding: 25px;
}
form {

}
form input[type="text"] {
	height: 35px;
	padding: 8px;
	outline: none;
	border: 1px solid transparent;
	background: #EEF2F3;
	width: 500px;

	-webkit-transition: all 200ms;
	-moz-transition: all 200ms;
	-ms-transition: all 200ms;
	-o-transition: all 200ms;
	transition: all 200ms;
}
form input[type="text"]:focus {
	border: 1px solid #1C2B36;
}
form input[type="submit"] {
	outline: none;
	border: none;
	background: #1C2B36;
	padding: 8px 12px 8px 12px;
	color: #fff;
	font-family: 'Lato', sans-serif;
	width: 200px;
	margin: auto;
	position: absolute;
	right: 0;
	left: 0;
	cursor: pointer;
}
form input[type="text"]:disabled {
	background: #dddddd;
	cursor: not-allowed;
}